* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: $black;
  color: $white;
  font-family: "Josefin Sans", sans-serif;
}

::-moz-selection {
  color: $black;
  background: $white;
}

::selection {
  color: $black;
  background: $white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.section__number {
  &::before {
    position: absolute;
    display: inline-block;
    line-height: 1;
    top: 0;
    left: 0;
    font-size: 300px !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
    cursor: pointer;
    -webkit-text-stroke-color: transparent;
    transition: color 0.35s, -webkit-text-stroke-color 0.35s, -webkit-text-stroke-width 0.35s;
    color: transparent;
    -webkit-text-stroke-color: $white;
    opacity: 0.2;
  }
}

.section__number--2 {
  &::before {
    content: "02";
  }
}
.section__number--3 {
  &::before {
    content: "03";
    left: initial;
    right: 0;
  }
}
.section__number--4 {
  &::before {
    content: "04";
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
  background-image: url(../assets/noise.gif);
}
