.heading {
  margin-bottom: 12px;
  font-size: 50px;

  @include respond-md {
    font-size: 80px;
  }
}

.text {
  font-size: 30px;
  line-height: 1.4;
}

.text--outline {
  --stroke-color: #fafafa;
  --stroke-width: 1px;
  color: #000000;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color), calc(var(--stroke-width) * -1) 0 0 var(--stroke-color), 0 var(--stroke-width) 0 var(--stroke-color), 0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}
